<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="style.css">
</head>

<ul class="main-navigation">
    <li><a href="index.html">Home</a></li>
    <li><a href="#">Destinations</a>
        <ul>
            <li><a href="Result%20-%20Salamanca.html">Salamance, Spain</a></li>
            <li><a href="Result%20-%20Dunhuang,%20China.html">Dunhuang, China </a></li>
            <li><a href="Result%20-%20Srinagar,%20Kashmir.html">Srinagar, Kashmir</a></li>
            <li><a href="Result%20-%20Krabi%20Town,%20Thailand.html">Krabi Town, Thailand</a></li>
            <li><a href="Result%20-%20Assisi,%20Italy.html">Assisi, Italy</a></li>
            <li><a href="Result%20-Tsarabanjina%20Island,%20Madagascar.html">Tsarabanjina Island, Madagascar</a></li>
            <li><a href="Result%20-%20French.html">Mo'orea, French Polynesia</a></li>
            <li><a href="Result%20-%20Japan.html">Hakone, Japan</a></li>
            <li><a href="Result%20-%20Mexico.html">Puerto Vallarta, Mexico</a></li>
        </ul>
    </li>
    <li><a href="About.html">About Us</a></li>
</ul>


<style>
    .container {
        display: flex;
        align-items:left;
        justify-content: center;
    }

    img {
        max-width: 800%;
        max-height: 800%;
        padding-top: 70px;
        padding-left: 70px;
    }

    .text {
        font-size: 20px;
        padding-left: 450px;
    }
</style>

<body>
<div class = "container">
    <div class = "image">
        <img src="resources/wics.jpg" alt="Salamanca Spain">
    </div>
    <div class = "text">
        <h1 class = "rheader">About Us</h1>
        <p>Hey there, fellow wanderer! Ready to break away from the beaten path and uncover hidden gems? Welcome to our vibrant corner of the internet, where adventure awaits at every click.
            Here, we're all about shaking up the travel scene by shining a spotlight on the underrated, the overlooked, and the downright dazzling destinations that might not be on your radar... yet!</p>

        <p>Say goodbye to over tourism and hello to a world of fresh discoveries tailored just for you. Dive into our quiz and let us unveil the perfect destination that speaks to your soul.
            But that's not all! Once you've got your match, stick around to delve into the cultural tapestry of your chosen spot. From local customs to must-try delicacies, consider this your crash course in cultural immersion.</p>
        <p>So, pack your virtual bags and get ready to embark on a journey like no other. Adventure, culture, and unforgettable experiences await. Let's dive in and make some travel magic happen. Ready, set, explore!
        </p>
    </div>
</div>
</body>
</html>
