<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="style.css">
</head>

<ul class="main-navigation">
    <li><a href="index.html">Home</a></li>
    <li><a href="#">Destinations</a>
        <ul>
            <li><a href="Result%20-%20Salamanca.html">Salamanca, Spain</a></li>
            <li><a href="Result%20-%20Dunhuang,%20China.html">Dunhuang, China </a></li>
            <li><a href="Result%20-%20Srinagar,%20Kashmir.html">Srinagar, Kashmir</a></li>
            <li><a href="Result%20-%20Krabi%20Town,%20Thailand.html">Krabi Town, Thailand</a></li>
            <li><a href="Result - Assisi, Italy.html">Assisi, Italy</a></li>
            <li><a href="Result%20-Tsarabanjina%20Island,%20Madagascar.html">Tsarabanjina Island, Madagascar</a></li>
            <li><a href="Result%20-%20French.html">Mo'orea, French Polynesia</a></li>
            <li><a href="Result%20-%20Japan.html">Hakone, Japan</a></li>
            <li><a href="Result%20-%20Mexico.html">Puerto Vallarta, Mexico</a></li>
        </ul>
    </li>
    <li><a href="About.html">About Us</a></li>
</ul>



<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 310%;
        max-height: 310%;
        padding-top: 10px;
    }

    .text {
        font-size: 20px;
        padding-left: 450px;
    }
</style>

<body>
<div class = "container">
    <div class = "image">
        <img src="resources/assisi.jpg" alt="Salamanca Spain">
    </div>
    <div class = "text">
        <h1 class = "rheader">Welcome to Assisi, Italy!</h1>
        <h3> Background Information</h3>
        <p>Nestled in the heart of the Umbria region in central Italy, Assisi is a picturesque hilltop town renowned for its rich history, stunning architecture, and spiritual significance. Best known as the birthplace of Saint Francis, the town exudes a serene atmosphere, with its narrow cobblestone streets, medieval buildings, and panoramic views of the surrounding countryside.
        </p>
        <h3> Cultural Norms</h3>
        <p> Respect for Religious Sites -  As a place of spiritual significance, it's important to dress modestly and refrain from loud behavior.
            Italian Hospitality -  Embrace the warmth and hospitality of Italian culture by greeting locals with a friendly "buongiorno" or "buonasera" and engaging in polite conversation.
            Appreciation for Art and History -  Show appreciation for Assisi's rich artistic heritage by admiring the frescoes, sculptures, and architectural marvels.
        </p>
    </div>
</div>

<div class="box"></div>
<div class="boxed">
    <div class="bothead">
        <center>
        AtubiBot Chat
        </center>
    </div>
    <div>
        <div id="chatbox">
            <p class="botText">
                <span>Hi, I'm AtubiBot! Ask me questions to learn more about your next destination. For a list of suggested prompts, enter "Help".</span>
            </p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Enter message here..." />
        </div>
    </div>
    <script>
        function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document
                .getElementById("userInput")
                .scrollIntoView({ block: "start", behavior: "smooth" });
            $.get("/get", { msg: rawText }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                $("#chatbox").append(botHtml);
                document
                    .getElementById("userInput")
                    .scrollIntoView({ block: "start", behavior: "smooth" });
            });
        }
        $("#textInput").keypress(function(e) {
            if (e.which == 13) {
                getBotResponse();
            }
        });
    </script>
</div>
</body>


</html>