<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<ul class="main-navigation">
    <li><a href="index.html">Home</a></li>
    <li><a href="#">Destinations</a>
        <ul>
            <li><a href="Result - Salamanca.html">Salamanca, Spain</a></li>
            <li><a href="Result%20-%20Dunhuang,%20China.html">Dunhuang, China </a></li>
            <li><a href="Result%20-%20Srinagar,%20Kashmir.html">Srinagar, Kashmir</a></li>
            <li><a href="Result%20-%20Krabi%20Town,%20Thailand.html">Krabi Town, Thailand</a></li>
            <li><a href="Result%20-%20Assisi,%20Italy.html">Assisi, Italy</a></li>
            <li><a href="Result%20-Tsarabanjina%20Island,%20Madagascar.html">Tsarabanjina Island, Madagascar</a></li>
            <li><a href="Result%20-%20French.html">Mo'orea, French Polynesia</a></li>
            <li><a href="Result%20-%20Japan.html">Hakone, Japan</a></li>
            <li><a href="Result%20-%20Mexico.html">Puerto Vallarta, Mexico</a></li>
            <li><a href="atubiBot.html">AtubiBot</a></li>
            <li><a href="atubiBot.html">AtubiBot</a></li>
        </ul>
    </li>
    <li><a href="About.html">About Us</a></li>
</ul>


<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 310%;
        max-height: 310%;
        padding-top: 10px;
    }

    .text {
        font-size: 20px;
        padding-left: 450px;
    }
</style>

<body>
    <div class = "container">
        <div class = "image">
            <img src="resources/Spain1.png" alt="Salamanca Spain">
        </div>
        <div class = "text">
            <h1 class = "rheader">Welcome to Salamanca, Spain!</h1>
            <h3> Background Information</h3>
            <p>Salamanca is located in western Spain and is the capital of the Province of Salamanca in the autonomous community of Castile and León. The city is famed for its historic university, the University of Salamanca, which is the third oldest university in the world.
            </p>
            <h3> Cultural Norms</h3>
            <p>Salamanca, like much of Spain, has a rich set of cultural norms and traditions. Siestas are common, with many businesses closing in the early afternoon and reopening later. Dining is a social affair, with dinner typically served late, around 9 p.m. or later. Salamanca's academic and intellectual heritage also infuses the city with a vibrant cultural scene, including numerous festivals, theater performances, and public lectures throughout the year.
            </p>
        </div>
    </div>
    <div class="box"></div>
    <div class="boxed">
        <div class="bothead">
            <center>
                AtubiBot Chat
            </center>
        </div>
        <div>
            <div id="chatbox">
                <p class="botText">
                    <span>Hi, I'm AtubiBot! Ask me questions to learn more about your next destination. For a list of suggested prompts, enter "Help".</span>
                </p>
            </div>
            <div id="userInput">
                <input id="textInput" type="text" name="msg" placeholder="Enter message here..." />
            </div>
        </div>
    </div>
</body>
</html>
