<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" href="style.css">
</head>

<ul class="main-navigation">
    <li><a href="index.html">Home</a></li>
    <li><a href="#">Destinations</a>
        <ul>
            <li><a href="Result%20-%20Salamanca.html">Salamanca, Spain</a></li>
            <li><a href="Result%20-%20Dunhuang,%20China.html">Dunhuang, China </a></li>
            <li><a href="Result%20-%20Srinagar,%20Kashmir.html">Srinagar, Kashmir</a></li>
            <li><a href="Result - Krabi Town, Thailand.html">Krabi Town, Thailand</a></li>
            <li><a href="Result%20-%20Assisi,%20Italy.html">Assisi, Italy</a></li>
            <li><a href="Result%20-Tsarabanjina%20Island,%20Madagascar.html">Tsarabanjina Island, Madagascar</a></li>
            <li><a href="Result%20-%20French.html">Mo'orea, French Polynesia</a></li>
            <li><a href="Result%20-%20Japan.html">Hakone, Japan</a></li>
            <li><a href="Result%20-%20Mexico.html">Puerto Vallarta, Mexico</a></li>
        </ul>
    </li>
    <li><a href="About.html">About Us</a></li>
</ul>


<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-width: 340%;
        max-height: 400%;
        padding-top: 10px;
    }

    .text {
        font-size: 20px;
        padding-left: 450px;
    }
</style>

<body>
<div class = "container">
    <div class = "image">
        <img src="resources/krabi.jpg" alt="Salamanca Spain">
    </div>
    <div class = "text">
        <h1 class = "rheader">Welcome to Krabi Town, Thailand!</h1>
        <h3> Background Information</h3>
        <p>Krabi Town sits on Thailand's southern coast, offering a mix of cultural charm and natural beauty. The town showcases Thai traditions through its lively markets and serene temples.
            Krabi's weather is tropical, with warm temperatures year-round. </p>
        <h3> Cultural Norms</h3>
        <p> Respect for Buddhism -  Buddhism plays a significant role in Krabi's culture. Visitors should show respect when visiting temples by dressing modestly and removing shoes before entering temple buildings.
            Politeness and Courtesy -  Greeting others with a smile and showing respect towards elders or those in positions of authority is appreciated.
            Conservative Dress -  While beachwear is acceptable at beach destinations, dressing modestly when exploring town areas or visiting religious sites is recommended to show respect.
        </p>
    </div>
</div>
<div class="box"></div>
<div class="boxed">
    <div class="bothead">
        <center>
            AtubiBot Chat
        </center>
    </div>
    <div>
        <div id="chatbox">
            <p class="botText">
                <span>Hi, I'm AtubiBot! Ask me questions to learn more about your next destination. For a list of suggested prompts, enter "Help".</span>
            </p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="msg" placeholder="Enter message here..." />
        </div>
    </div>
    <script>
        function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document
                .getElementById("userInput")
                .scrollIntoView({ block: "start", behavior: "smooth" });
            $.get("/get", { msg: rawText }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                $("#chatbox").append(botHtml);
                document
                    .getElementById("userInput")
                    .scrollIntoView({ block: "start", behavior: "smooth" });
            });
        }
        $("#textInput").keypress(function(e) {
            if (e.which == 13) {
                getBotResponse();
            }
        });
    </script>
</body>


</html>